(images/cta-bg.jpg, images/hero-bg.jpg, images/portfolio-landscape.jpg, images/portfolio-logistic.jpg, images/portfolio-workshop.jpg, images/service-fence.jpg, images/service-finish.jpg, images/service-landscape.jpg, images/service-masonry.jpg, images/service-monolith.jpg, images/service-roof.jpg, index.html)